<%- include('./partials/header'); -%>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-labelledby="nav">
            <div class="container">
                <a class="navbar-brand" href="/">Oh! My Cat</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/manage">Blog Manage</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4" style="background: linear-gradient(300deg, #FFFFFF, #F875AA, #5FBDFF);">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Welcome to Cat Blog!</h1>
                    <p class="lead mb-0">The world of the cat who have to dominate the world.</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <% for(let items of blog_list){ %>
                    <% if(items[4] === "lg"){ %>
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="<%= items[0] %>" alt="cat-meme1" /></a>
                        <div class="card-body">
                            <div name="post_date" class="small text-muted"><%= items[1] %></div>
                            <h2 name="post_title" class="card-title"><%= items[2] %></h2>
                            <p name="post_content" class="card-text"><%= items[3] %></p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <% }} %>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <% for(let items of blog_list){ %>
                            <% if(items[4]==="sm" && (items[5] % 2 != 0) ){ %>
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="<%= items[0] %>" alt="cat-meme2" /></a>
                                <div class="card-body">
                                    <div class="small text-muted"><%= items[1] %></div>
                                    <h2 class="card-title h4"><%= items[2] %></h2>
                                    <p class="card-text"><%= items[3] %></p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                            <% }} %>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <% for(let items of blog_list){ %>
                            <% if(items[4]==="sm" && (items[5] % 2 == 0) ){ %>
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="<%= items[0] %>" alt="cat-meme4" /></a>
                                <div class="card-body">
                                    <div class="small text-muted"><%= items[1] %></div>
                                    <h2 class="card-title h4"><%= items[2] %></h2>
                                    <p class="card-text"><%= items[3] %></p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                            <% }} %>
                        </div>
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                                    aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search Blog</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Do you want to Search Huh!?"
                                    aria-label="Do you want to Search Huh!?" aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sorry Bro!, It's under construction.">Sure!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Black Cat</a></li>
                                        <li><a href="#!">White Cat</a></li>
                                        <li><a href="#!">Pop Cat</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Drama</a></li>
                                        <li><a href="#!">Funny</a></li>
                                        <li><a href="#!">Romance</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">No one ever said it</div>
                        <div class="card-body">"You can read everything what you want. So choice some blog and let's get reading. Bro!"</div>
                    </div>
                </div>
            </div>
        </div>
<%- include('./partials/footer'); -%>